body{
  background-color: rgb(255, 255, 206);
}

.begin {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hide{
  display: none;
}

/* button begin */


#knop {
  display: block;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
}


/* button end */